<div class="container">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand cursor-style" (click)="redirect()">COUNTRIES</a>
        </div>
      </nav>
</div>