<div *ngIf="load" class="row justify-content-center">
    <img class="w-25" src="assets/img/load.gif"/>
</div>

<div *ngIf="!load" class="row justify-content-center">
    <form [formGroup]="searchForm" class="d-flex mt-2">
        <input (ngModelChange)="inputChange($event)" formControlName="name" class="form-control me-2" type="search" placeholder="country..." aria-label="Search" required>
        <button [disabled]="!searchForm.valid" (click)="searchByName()" class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <div *ngFor="let country of countries | paginate: {itemsPerPage: 8, currentPage: page}" class="card mx-3 my-3" style="width: 18rem;">
        <img [src]="country.flags.png" class="card-img-top" alt="Flag image">
        <div class="card-body">
            <h5 class="card-title">{{country.name.common}}</h5>
            <p class="card-text">
                Official Name: {{country.name.official}} <br>
                Region: {{country.region}}
            </p>
            <a [routerLink]="['country-detail/', country.cca2]" class="btn btn-primary">Mostrar mas información</a>
        </div>
    </div>
</div>

<pagination-controls
    (pageChange)="page = $event"
    previousLabel="Previous"
    nextLabel="Next">
</pagination-controls>

<ng-template #modalMensajeErr let-modal>
    <div class="modal-header">
        <h5 class="modal-title text-danger" id="exampleModalLabel">¡Ha sucedido algun error!</h5>
    </div>
    <div class="modal-body">
        {{ error }}
    </div>
    <div class="modal-footer">
        <button (click)="closeModal()" type="button" class="btn btn-secondary">Cerrar</button>
    </div>
</ng-template>
