<app-header></app-header>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>