<div *ngIf="load" class="row justify-content-center">
    <img class="w-25" src="assets/img/load.gif"/>
</div>

<div *ngIf="!load" class="row justify-content-center ">
    <div class="col-6">
        <img [src]="country.flags.png" class="img-fluid" alt="Flag country">
    </div>
    <div class="col-6">
        <table class="table table-borderless">
            <tbody>
                <tr>
                  <th>Common name</th>
                  <td>{{country.name.common}}</td>
                </tr>
                <tr>
                    <th>Official name</th>
                    <td>{{country.name.official}}</td>
                </tr>
                <tr>
                    <th>Region</th>
                    <td>{{country.region}}</td>
                </tr>
                <tr>
                    <th>Mapa</th>
                    <td><a [href]="country.maps.googleMaps">{{country.maps.googleMaps}}</a></td>
                </tr>
                <tr>
                    <th>Continent</th>
                    <td>{{country.continents[0]}}</td>
                </tr>
                <tr>
                    <th>Language</th>
                    <td><p *ngFor="let key of language_keys">{{country.languages[key]}}</p></td>
                </tr>
                <tr>
                    <th>Currency</th>
                    <td><p *ngFor="let key of currency_keys">{{country.currencies[key].name}}</p></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<ng-template #modalMensajeErr let-modal>
    <div class="modal-header">
        <h5 class="modal-title text-danger" id="exampleModalLabel">¡Ha sucedido algun error!</h5>
    </div>
    <div class="modal-body">
        {{ error }}
    </div>
    <div class="modal-footer">
        <button (click)="closeModal()" type="button" class="btn btn-secondary">Cerrar</button>
    </div>
</ng-template>